@import "colors.css";

* {
  border: none;
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 20px;
}

window#waybar {
  background: @background;
  min-height: 20px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-bottom: 0px;
  transition: none;
  color: @color2;
  border-bottom: 2px solid @color2;
  border-radius: 0px;
}

#workspaces button {
  color: @color7;
  border-radius: 2px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button.active {
  background-color: @color2;
}

#workspaces button:hover {
  background-color: @color10;
}

#network {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  border-bottom: 2px solid @color5;
  border-radius: 0px;
}

#pulseaudio {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color3;
  border-bottom: 2px solid @color3;
  border-radius: 0px;
}

#custom-hyprpicker {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color6;
  border-bottom: 2px solid @color6;
  border-radius: 0px;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color7;
  border-bottom: 2px solid @color6;
  border-radius: 0px;
}

#battery.charging,
#battery.plugged {
  color: @color7;
  background-color: @color1;
  border-bottom: 2px solid @color8;
  border-radius: 0px;
}

#battery.critical:not(.charging) {
  background-color: @color8;
  color: @color8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @color5;
    color: @color0;
  }
}

#backlight {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color10;
  border-bottom: 2px solid @color3;
  border-radius: 0px;
}

#clock {
  transition: none;
  color: @color6;
  border-bottom: 2px solid @color14;
  border-radius: 0px;
}

#memory {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  border-bottom: 2px solid @color5;
  border-radius: 0px;
}

#cpu {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color4;
  border-bottom: 2px solid @color4;
  border-radius: 0px;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color6;
  background: transparent;
}

#custom-power {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 5px;
  transition: none;
  color: @color0;
  background: @color1;
}

#custom-wallpaper {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color4;
  border-bottom: 2px solid @color2;
  border-radius: 0px;
}

#idle_inhibitor {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color1;
  border-bottom: 2px solid @color1;
  border-radius: 0px;
}

#custom-swaync {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color1;
  border-bottom: 2px solid @color1;
  border-radius: 0px;
}

#custom-home {
  padding-left: 4px;
  transition: none;
  color: @color14;
  border-radius: 0px;
}

#custom-clipboard {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color3;
  border-bottom: 2px solid @color3;
  border-radius: 0px;
}

#custom-wlogout {
  padding-left: 5px;
  padding-right: 0px;
  transition: none;
  color: @color3;
  border-radius: 0px;
}

#custom-hyprshot {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color2;
  border-bottom: 2px solid @color4;
  border-radius: 0px;
}

